.fadeInHighlight { 
    animation-name: fadeInHighlight;
    animation-duration: 7000ms;
}

@keyframes fadeInHighlight {
    0% {
        opacity: 0;
        background-color: #ffb7b7;
    }
    100% { 
        opacity: 1;
        background-color: none;
    }
}

.fadeIn { 
    animation-name: fadeIn;
    animation-duration: 7000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
        background-color: none;
    }
}


#begin {
    border: black solid 1px;
    background-color: #0079d3;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 1rem;
}

.mc-username {
    /* background-color: #ffc24f; */
}

#mc-title {
    font-family: inherit;
    text-transform: lowercase;
    font-size: 1rem;
    margin: 0;
}


/* ----------------------------------
---------------------------------------
------------------------------------- */
#progress-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-left: auto;
    margin-right: 0px;
    width: 60%;
    background-color: #eee;
}
#progress-text {
    padding-right: 8px;
    line-height: 32px;
    background-color: var(--background-color);
}
#progress-bar {
    width: 1%;
    height: 32px;
    background-color: #8be5a9;
}

button {
    cursor: pointer;
    text-align: left;
    text-transform: none;
}


#output-text p>button { color: inherit; }
#output-text>button { color: inherit; }


ol {
    list-style-type: upper-alpha;
}

.route-not-visited {
    color: #ff7b6f;
}

.route-partial {
    color: #c68100;
}

.route-fully-visited {
    color: #009833;
}